{%- macro init(social, type="array") -%}

{%- set icon_classes = [] -%}
{%- set links = [] -%}
{%- set titles = [] -%}

{%- if social.facebook is defined -%}
    {% set icon_classes = icon_classes | concat(with = "fab fa-facebook") -%}
    {% set links = links | concat(with = "https://facebook.com/" ~ social.facebook) -%}
    {% set titles = titles | concat(with = "Meet me on facebook") -%}
{%- endif -%}
{%- if social.twitter is defined -%}
    {% set icon_classes = icon_classes | concat(with = "fab fa-twitter") -%}
    {% set links = links | concat(with = "https://twitter.com/" ~ social.twitter) -%}
    {% set titles = titles | concat(with = "Follow me on Twitter") -%}
{%- endif -%}
{%- if social.linkedin is defined -%}
    {% set icon_classes = icon_classes | concat(with = "fab fa-linkedin") -%}
    {% set links = links | concat(with = "https://linkedin.com/in/" ~ social.linkedin) -%}
    {% set titles = titles | concat(with = "See my profile on Linkedin") -%}
{%- endif -%}
{%- if social.github is defined -%}
    {% set icon_classes = icon_classes | concat(with = "fab fa-github") -%}
    {% set links = links | concat(with = "https://github.com/" ~ social.github) -%}
    {% set titles = titles | concat(with = "See my activity on Github") -%}
{%- endif -%}
{%- if social.gitlab is defined -%}
    {% set icon_classes = icon_classes | concat(with = "fab fa-twitter") -%}
    {% set links = links | concat(with = "https://twitter.com/" ~ social.gitlab) -%}
    {% set titles = titles | concat(with = "See my activity on Gitlab") -%}
{%- endif -%}
{%- if social.telegram is defined -%}
    {% set icon_classes = icon_classes | concat(with = "fab fa-telegram") -%}
    {% set links = links | concat(with = "https://t.me/" ~ social.telegram) -%}
    {% set titles = titles | concat(with = "Say hy on Telegram") -%}
{%- endif -%}
{%- if social.email is defined -%}
    {% set icon_classes = icon_classes | concat(with = "fab fa-envelope") -%}
    {% set links = links | concat(with = "mailto:" ~ social.email) -%}
    {% set titles = titles | concat(with = "Email me") -%}
{%- endif -%}
{%- if social.phone is defined -%}
    {% set icon_classes = icon_classes | concat(with = "fab fa-phone") -%}
    {% set links = links | concat(with = "tel:" ~ social.phone) -%}
    {% set titles = titles | concat(with = "Give me a call") -%}
{%- endif -%}


{%- set icon_count = icon_classes | length -%}
{%- set link_count = links | length -%}
{%- set title_count = links | length -%}

{%- if icon_count == link_count and link_count == title_count -%}
    {%- for i in range(start=0, end=icon_count) -%}
        {%- set link = links | nth(n=i) -%}
        {%- set title = titles | nth(n=i) -%}
        {%- set icon_class = icon_classes | nth(n=i) -%}
        <a href="{{- link -}}" target="_blank" class="p-2" title="{{- title -}}" >
            <i class="{{- icon_class }}"></i>
        </a>
    {%- endfor -%}
{%- else -%}
    <h1>Error while setting required fileds in social icons. Count of required fields are not same</h1>
{%- endif -%}


{%- endmacro init -%}
