<!DOCTYPE HTML>
<HTML lang="en_us">
    <head>
        <title>Sudip Ghimire - Developer</title>
        <link rel="stylesheet" href="tailwind.css" media="all" />
        <link rel="stylesheet" href="style.css" media="all" />
        <script src="https://kit.fontawesome.com/32aa403b75.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="script.js"></script>
    </head>

    <body class="flex flex-row p-0 m-0 flex-nowrap max-h-screen overflow-hidden">
        {%- include "sidebar.html" -%}

        <main class="flex-grow flex flex-col items-stretch overflow-y-auto" id="main">
            <section id="home_page" class="min-h-screen">
                <div class="home_cover h-full relative">
                    <div style="background-image: url('images/img_bg_1.jpg')"
                        class="bg-no-repeat bg-cover bg-fixed bg-right absolute h-full w-full right-20"></div>
                </div>
            </section>

            {%- include "about.html" -%}

            {%- include "skills.html" -%}

            {%- include "education.html" -%}

        </main>
    </body>
</HTML>
