<!DOCTYPE HTML>
<HTML lang="en_us">
    <head>
        <title>Sudip Ghimire - Developer</title>
        <link rel="stylesheet" href="tailwind.css" media="all" />
        <link rel="stylesheet" href="style.css" media="all" />
        <script src="https://kit.fontawesome.com/32aa403b75.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="script.js"></script>
    </head>

    <body class="flex flex-row p-0 m-0 flex-nowrap max-h-screen overflow-hidden">
        {%- include "sidebar.html" -%}

        <main class="flex-grow flex flex-col items-stretch overflow-y-auto" id="main">
            <section id="home_page" class="min-h-screen">
                <div class="home_cover h-full relative">
                    <div style="background-image: url('images/img_bg_1.jpg')"
                        class="bg-no-repeat bg-cover bg-fixed bg-right absolute h-full w-full right-20"></div>
                </div>
            </section>

            {%- include "about.html" -%}

            {%- include "skills.html" -%}


            <section id="" class="py-6 mx-4 px-4 mb-4 rounded-lg" style="background-color: #272727">
                <a name="education"></a>
                <h1 class="text-3xl text-white w-full"><b class="pr-2 text-pink-400">#</b>Education</h1>
                <h3 class="text-gray-200 text-lg px-4">
                    <p class="mt-2 pt-2">Always have been bruteforcing on everything to improve myself and when it comes to the lessons I learnt from schooling and people, I look my shadow with respect. I owe this to my family and those souls who did more than enough to make me feel blessed <i class="fas fa-heart text-pink-400"></i></p>
                </h3>
                <div class="flex flex-row flex-wrap mt-2">
                    <div class="flex-grow flex-shrink bg-gray-700 p-2 m-2 rounded-md">
                        <h1 class="text-2xl text-white text-center">Academic</h1>
                        <div class="px-2 relative border-gray-300">
                            <div class="my-2 relative">
                                <span class="h-full w-2px bg-gray-400 absolute left-1 top-4"></span>
                                <i class="fas fa-circle text-pink-400 text-sm pr-2"></i>
                                <h3 class="text-xl inline text-white">High School Diploma</h3>
                                <i class="text-gray-400">2019-2021</i>
                                <p class="text-gray-200 pl-6">
                                    - Shree Tribhuvan Shanti Model School. Pokhara-30, Nepal<br/>
                                    - First Year: Maths, Physics, English, Biology, Chemestry<br/>
                                    - Second Year: Maths, Physics, English, Nepali, Chemestry
                                </p>
                            </div>
                            <div class="my-2 relative">
                                <span class="h-full w-2px bg-gray-400 absolute left-1 top-6"></span>
                                <i class="fas fa-circle text-pink-400 text-sm pr-2"></i>
                                <h3 class="text-xl inline text-white">School Level Board</h3>
                                <i class="text-gray-400">2017-2019</i>
                                <p class="text-gray-200 pl-6">
                                    - Brahma Rupa Secondary School. Pokhara-32, Nepal<br/>
                                    - First Year: Web Dev, Electrical, C programming<br/>
                                    - Second Year: DBMS, Computer Network, OOP, Microprocessor
                                </p>
                            </div>
                            <div class="my-2 relative">
                                <i class="fas fa-circle text-pink-400 text-sm pr-2"></i>
                                <h3 class="text-xl inline text-white">Basic Level Education</h3>
                                <i class="text-gray-400">2006-2017</i>
                                <h2 class="text-gray-200 pl-6">
                                    - Shanti Batika English School. Pokhara-32, Nepal
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow flex-shrink bg-gray-700 p-2 m-2 rounded-md">
                        <h1 class="text-2xl text-white text-center">Character</h1>
                        <div class="p-2 text-white">
                            <!-- Add image of text with different colors with kewords lieke honesty, learner, communication etc -->
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</HTML>
