<!DOCTYPE HTML>
<HTML lang="en_us">
    <head>
        <meta content="width=device-width,initial-scale=1.0" name="viewport">

        <title>Sudip Ghimire - Developer</title>
        <link rel="stylesheet" href="tailwind.css" media="all" />
        <link rel="stylesheet" href="style.css" media="all" />
        <script src="https://kit.fontawesome.com/32aa403b75.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="script.js"></script>
    </head>

    <body class="flex flex-row p-0 m-0 flex-nowrap max-h-screen overflow-hidden">
        {%- include "sidebar.html" -%}

        <main class="flex-grow flex flex-col items-stretch overflow-y-auto" id="main">
            {%- include "cover.html" -%}

            {%- include "about.html" -%}

            {%- include "skills.html" -%}

            {%- include "education.html" -%}

            {%- include "projects.html" -%}

            {%- include "contact.html" -%}
        </main>
    </body>
</HTML>
