{%- set project_page = get_page(path="projects.md") -%}

{%- set heading = project_page.title -%}
{%- set content = project_page.content -%}

<section id="" class="py-6 px-1 sm:px-4 my-4" style="background-color: #272727">
    {%- if project_page.extra.anchor_name is defined -%}
        <a name="{{- project_page.extra.anchor_name | trim -}}"></a>
    {%- endif -%}
    <h1 class="text-3xl text-white">
        <b class="pr-2 text-pink-400">#</b>{{- heading -}}
    </h1>
    <div class="text-gray-200 text-lg px-4 section-description">
        {{- content | spaceless | trim | safe -}}
    </div>

    <div class="mt-6">
        {%- set projects = project_page.extra.project -%}
        {%- set project_count = projects | length -%}
        {%- for project in projects -%}
            {%- set i = loop.index0 -%}
            {%- set name = project.name -%}
            {%- set intro = project.intro -%}
            {%- set cover = project.cover -%}
            {%- set tags = project.tags -%}
            {%- set direction = ["flex-row", "md:-ml-32"] -%}
            {%- if i%2 != 0 -%}
                {%- set direction = ["flex-row-reverse", "md:-mr-32"] -%}
            {%- endif -%}
        <div class="mt-8 md:mt-12 md:flex {{ direction | nth(n=0) }} group cursor-pointer relative
            rounded-lg overflow-hidden">

            <div
                class="absolute left-0 top-0 h-full w-full bg-norepeat bg-cover md:hidden"
                style="background-image: url('{{-cover-}}')">
            </div>
            <div class="absolute left-0 right-0 h-full w-full bg-gray-900 md:hidden
                    opacity-95 group-hover:opacity-80 transition-all duration-300">
            </div>

            <img src="{{-cover-}}"
                alt="{{-name-}}"
                width="520" height="auto"
                loading="lazy"
                class="max-w-full hidden md:block opacity-60 transition-all duration-300 group-hover:opacity-100" />
            <div class="p-2 md:m-4 rounded-lg md:rouned-none relative flex-grow w-full">
                <h1 class="text-2xl font-bold text-pink-700 py-2">{{- name | escape -}}</h1>
                <p class="text-gray-200 py-6 px-4 {{ direction | nth(n=1) }} rounded"
                    style="background-color: #353535">
                    {{- intro | spaceless | safe -}}
                </p>
                <div class="my-2 py-2">
                    {%- for tag in tags -%}
                        <span class="p-2 text-gray-400">{{- tag -}}</span>
                    {%- endfor -%}
                </div>
                {%- if project.source is defined -%}
                    <a href="{{-project.source-}}" class="p-1 text-pink-500 hover:text-pink-400 transition-color duration-300">
                        <i class="fas fa-external-link-alt text-sm text-pink-500 hover:text-pink-400 pr-1"></i>Project
                    </a>
                {%- endif -%}
                {%- if project.home is defined -%}
                    <a href="{{-project.home-}}" class="p-1 text-pink-500 hover:text-pink-400 transition-color duration-300">
                        <i class="fas fa-external-link-alt text-sm text-pink-500 hover:text-pink-400 pr-1"></i>Home
                    </a>
                {%- endif -%}
            </div>
        </div>
        {%- endfor -%}
    </div>

</section>
